* {
    margin: 0;
}

.navbar {
    background-color: #e749abb0;
}

.footer-img {
    background-color: #e749abb0;
}

.category {
    color: rgba(0, 0, 0, 0.774);
}

.category:hover {
    color: red;
}