* {
    margin: 0;
}

.navbar {
    background-color: #e749abb0;
}

.footer-img {
    background-color: #e749abb0;
}

.category{
    color: rgba(0, 0, 0, 0.774);
}
.category:hover {
    /* background-color: aqua; */
    /* text-shadow: 2px 2px 2px grey; */
    color: red;
}


@media (min-width: 1200px){
    .sliderimg {
        height: 600px;
    }
}


@media (min-width: 992px) and (max-width: 1199px){
    .sliderimg{
        height: 555px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .sliderimg{
        height: 350px;
    }
}

@media (max-width: 767px){
    .sliderimg{
        height: 250px;
    }
}